body {
    margin: 0 auto;
    width: 25%;
    padding: 0;
}
h1,h2 {
    float: left;
    font-weight: 400;
}
.btn {
    height: 40px;
    width: 140px;
    margin-top: 15px;
    margin-left: 15%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #00a3af;
    float: left;
}
.button {
    height: 40px;
    width: 160px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1e90ff;
}
.placeholder {
    width: 100%;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 5px;
    padding-left: 10px;
}